<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
    <div class="header">
        <ul class="header">
            <li class="header header-left">
                <h1><a class="header-link" href="{{ url_for('main') }}">Item Catalog</a></h1>
            </li>
        </ul>
        <ul class="header header-right">
            <li class="header"><a class="header-button" herf="#">Log In</a></li>
        </ul>
        <div class="clearer"></div>
    </div>
    {% block content %} {% endblock %}
</body>

</html>